{{#each visited_countries as |visited_country|}}
  {{log visited_country}}
  <section data-id="{{visited_country.id}}">
    <h5>Country:</h5>
    <p>
      {{visited_country.country}}
    </p>
    <h5>Year Visited:</h5>
    <p>
      {{visited_country.year}}
    </p>
    <form class="update-country" data-id="{{visited_country.id}}">
      <input type="text" name="visited_country[country]" class="inputs" placeholder="Name of Country">
      <input type="number" name="visited_country[year]" class="inputs" placeholder="Year Traveled">
      <button class="btn btn-info">Update</button>
    </form>
    <button class="btn btn-danger delete-country" data-id="{{visited_country.id}}">Remove</button>
  </section>

{{/each}}
