<h4>Travel Tracker</h4>
{{#each visited_countries as |visited_country|}}
  <section data-id="{{visited_country.id}}">
    <p><span class="list">Country:</span> {{visited_country.country}}</p>
    <p><span class="list">Year Visited:</span> {{visited_country.year}}</p>
    <!-- <button class="btn btn-info fake-update">Update</button> -->
    <!-- <img src="../../../img/edit.png" class="edit-button" alt="edit" data-id="{{visited_country.id}}"> -->
    <form class="update-country" data-id="{{visited_country.id}}">
      <input type="text" name="visited_country[country]" class="inputs" placeholder="Name of Country" required>
      <input type="number" name="visited_country[year]" class="inputs" placeholder="Year Traveled" required>
      <button class="btn btn-info real-update">Update</button>
    </form>
    <button class="btn btn-danger delete-country" data-id="{{visited_country.id}}">Remove</button>
  </section>
  <hr>

{{/each}}
